In [380]:
import pandas as pd
from bot_funtions import *

In [381]:
super_df=pd.read_csv('super_df.csv')
df=pd.read_csv('df.csv')

In [382]:
df

,OpenTime,open,high,low,close,volume,size,ma_7,ma_25,ma_40,...,pivot_high,pivot_low,atr,center,up,down,in_uptrend,lower_band,upper_band,ema_5_pos
0,2023-05-11 12:51:00,1822.40,1822.63,1820.82,1821.53,6922.021,0.047739,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,-1
1,2023-05-11 12:54:00,1821.54,1821.58,1817.01,1819.45,12173.103,0.114738,NaN,NaN,NaN,...,NaN,NaN,4.57,NaN,NaN,NaN,0.0,NaN,NaN,-1
2,2023-05-11 12:57:00,1819.45,1820.20,1817.02,1818.44,6241.345,0.055511,NaN,NaN,NaN,...,NaN,NaN,3.18,NaN,NaN,NaN,0.0,NaN,NaN,-1
3,2023-05-11 13:00:00,1818.44,1818.54,1815.19,1817.89,12489.129,0.030246,NaN,NaN,NaN,...,0.0,0.00,3.35,NaN,NaN,NaN,0.0,NaN,NaN,-1
4,2023-05-11 13:03:00,1817.89,1820.80,1817.74,1820.30,7326.144,0.132571,NaN,NaN,NaN,...,0.0,0.00,3.06,NaN,NaN,NaN,0.0,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,2023-05-14 15:30:00,1814.85,1815.49,1811.89,1812.24,7280.891,0.143814,1814.552857,1809.6800,1808.51050,...,0.0,0.00,3.60,1810.283,1806.683,1813.883,True,1809.253,1813.883,-1
1494,2023-05-14 15:33:00,1812.24,1812.24,1810.37,1810.73,10147.198,0.083322,1814.077143,1809.8880,1808.70100,...,0.0,0.00,1.87,1810.283,1808.413,1812.153,True,1809.253,1812.153,-1
1495,2023-05-14 15:36:00,1810.73,1814.54,1810.62,1814.06,6286.567,0.183904,1813.764286,1810.2296,1808.97000,...,0.0,0.00,3.92,1810.283,1806.363,1814.203,True,1809.253,1812.153,1
1496,2023-05-14 15:39:00,1814.07,1816.38,1813.59,1815.40,5288.234,0.073316,1813.905714,1810.6156,1809.24600,...,0.0,0.00,2.79,1810.283,1807.493,1813.073,True,1809.253,1813.073,1
1497,2023-05-14 15:42:00,1815.40,1817.99,1815.24,1817.16,10403.092,0.096948,1814.180000,1811.0900,1809.54125,...,0.0,1810.37,2.75,1810.312,1807.562,1813.062,True,1809.253,1813.062,1

In [383]:
df.columns

Index(['OpenTime', 'open', 'high', 'low', 'close', 'volume', 'size', 'ma_7',
       'ma_25', 'ma_40', 'ma_55', 'ma_99', 'ma_100', 'ma_200', 'ema_5',
       'ema_20', 'ema_55', 'ema_100', 'ema_200', 'ema_9', 'prev_close',
       'prev_open', 'color', 'ema_33', 'rsi', 'macd', 'macdsignal', 'macdhist',
       'slowk', 'slowd', 'pivot_high', 'pivot_low', 'atr', 'center', 'up',
       'down', 'in_uptrend', 'lower_band', 'upper_band', 'ema_5_pos'],
      dtype='object')

In [384]:
trade_df=create_signal_df(super_df,df,'ETH','1m',1,12,100,100)

1493
1493
1493

In [385]:
trade_df

,signal,entry,tp,trade,close_price,TradeOpenTime,percentage,OpenTime,size,ma_7,...,prev_candle_4_slowd,prev_candle_0_volume,prev_candle_1_volume,prev_candle_2_volume,prev_candle_3_volume,prev_candle_4_volume,local_max_bar_2,local_min_bar_2,local_max_2,local_min_2
10,Sell,1800.90,-178289.10,L,1802.12,2023-05-13 21:45:00,-0.000677,2023-05-13 21:44:00,0.009439,1801.328571,...,43.434317,532.473,302.258,324.370,580.722,185.965,6.0,5.0,1802.12,1799.60
11,Buy,1802.12,182014.12,L,1799.92,2023-05-13 21:51:00,-0.001221,2023-05-13 21:50:00,0.066077,1800.940000,...,17.191112,602.548,497.589,342.711,355.074,1199.030,0.0,0.0,1800.51,1799.91
12,Sell,1799.92,-178192.08,W,1798.22,2023-05-13 21:53:00,0.000944,2023-05-13 21:52:00,0.032768,1800.784286,...,45.019168,251.503,807.687,602.548,497.589,342.711,10.0,37.0,1801.38,1796.19
13,Buy,1798.22,181620.22,W,1800.66,2023-05-13 22:32:00,0.001357,2023-05-13 22:31:00,0.055641,1797.457143,...,49.827816,1438.007,992.996,885.037,203.516,92.615,30.0,0.0,1802.43,1798.10
14,Sell,1800.66,-178265.34,L,1801.38,2023-05-13 23:06:00,-0.000400,2023-05-13 23:05:00,0.043299,1801.295714,...,87.609108,473.564,229.994,415.620,280.126,2084.534,0.0,0.0,1801.39,1801.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Sell,1805.73,-178767.27,L,1806.93,2023-05-14 17:36:00,-0.000665,2023-05-14 17:35:00,0.017718,1806.800000,...,78.899699,1352.693,694.128,568.275,841.808,1331.933,3.0,0.0,1806.93,1805.29
95,Buy,1806.93,182499.93,L,1805.36,2023-05-14 17:39:00,-0.000869,2023-05-14 17:38:00,0.078648,1806.131429,...,15.747151,847.634,1746.354,685.856,1352.693,694.128,0.0,3.0,1806.87,1805.10
96,Sell,1805.36,-178730.64,W,1804.77,2023-05-14 17:42:00,0.000327,2023-05-14 17:41:00,0.017168,1805.982857,...,20.262543,399.294,975.132,295.916,847.634,1746.354,3.0,9.0,1806.59,1803.23
97,Buy,1804.77,182281.77,L,1803.58,2023-05-14 18:15:00,-0.000659,2023-05-14 18:14:00,0.024386,1804.165714,...,37.818074,729.672,443.774,349.945,618.973,336.065,0.0,0.0,1803.59,1794.32
98,Sell,1803.58,-178554.42,W,1800.77,2023-05-14 18:16:00,0.001558,2023-05-14 18:15:00,0.066490,1804.128571,...,30.689163,821.343,729.672,443.774,349.945,618.973,17.0,0.0,1800.95,1793.39

In [386]:
trade_df['TradeOpenTime']=pd.to_datetime(trade_df['TradeOpenTime'])
trade_df['Year'] = trade_df['TradeOpenTime'].dt.isocalendar().year
trade_df['Week'] = trade_df['TradeOpenTime'].dt.isocalendar().week

In [387]:
df_weekly = trade_df.groupby(['Year', 'Week'])['percentage'].sum().reset_index()
current_week = pd.to_datetime(datetime.now()).isocalendar()[1]
current_year =pd.to_datetime(datetime.now()).isocalendar()[0]

In [388]:
df_weekly

   Year  Week  percentage
0  2023    19   -0.009125

In [389]:
current_week

19

In [390]:
current_year

2023

In [391]:
lastTradeOpenTime = trade_df.iloc[-1]['OpenTime']
lastTradePerc = trade_df.iloc[-1]['percentage']
lastTradeOutcome = trade_df.iloc[-1]['trade']
print(f'from USDT previous trade opentime : {lastTradeOpenTime} , perc : {lastTradePerc} , trade : {lastTradeOutcome}')

from USDT previous trade opentime : 2023-05-14 18:15:00 , perc : 0.001558012397564813 , trade : W

In [392]:
super_df[['OpenTime','in_uptrend']]

                OpenTime in_uptrend
0    2023-05-13 17:40:00          0
1    2023-05-13 17:41:00          0
2    2023-05-13 17:42:00          0
3    2023-05-13 17:43:00          0
4    2023-05-13 17:44:00          0
...                  ...        ...
1488 2023-05-14 18:28:00      False
1489 2023-05-14 18:29:00      False
1490 2023-05-14 18:30:00      False
1491 2023-05-14 18:31:00      False
1492 2023-05-14 18:32:00       True

[1493 rows x 2 columns]

In [393]:
super_df[['OpenTime','in_uptrend','open','close']].tail(15)

                OpenTime in_uptrend     open    close
1478 2023-05-14 18:18:00      False  1798.33  1799.95
1479 2023-05-14 18:19:00      False  1799.95  1800.18
1480 2023-05-14 18:20:00      False  1800.18  1798.94
1481 2023-05-14 18:21:00      False  1798.93  1799.19
1482 2023-05-14 18:22:00      False  1799.19  1798.99
1483 2023-05-14 18:23:00      False  1798.99  1798.78
1484 2023-05-14 18:24:00      False  1798.77  1798.60
1485 2023-05-14 18:25:00      False  1798.60  1798.91
1486 2023-05-14 18:26:00      False  1798.91  1799.00
1487 2023-05-14 18:27:00      False  1799.01  1800.53
1488 2023-05-14 18:28:00      False  1800.53  1800.52
1489 2023-05-14 18:29:00      False  1800.52  1800.25
1490 2023-05-14 18:30:00      False  1800.25  1799.41
1491 2023-05-14 18:31:00      False  1799.41  1800.17
1492 2023-05-14 18:32:00       True  1800.18  1800.77

In [394]:
# import pandas as pd
# import pytz

# # Assuming 'date' is the column containing GMT dates in the DataFrame 'df'
# super_df['OpenTime'] = pd.to_datetime(super_df['OpenTime']).dt.tz_localize('GMT')

# # Convert GMT dates to CST
# cst_tz = pytz.timezone('US/Central')
# super_df['OpenTime'] = super_df['OpenTime'].apply(lambda x: x.astimezone(cst_tz))


# print(super_df[['OpenTime','open']])

In [395]:
super_df[['OpenTime','open','close','in_uptrend']].tail(55)

                OpenTime     open    close in_uptrend
1438 2023-05-14 17:38:00  1805.51  1806.93       True
1439 2023-05-14 17:39:00  1806.92  1806.88       True
1440 2023-05-14 17:40:00  1806.87  1805.66       True
1441 2023-05-14 17:41:00  1805.67  1805.36      False
1442 2023-05-14 17:42:00  1805.35  1805.57      False
1443 2023-05-14 17:43:00  1805.57  1805.18      False
1444 2023-05-14 17:44:00  1805.17  1806.56      False
1445 2023-05-14 17:45:00  1806.56  1805.99      False
1446 2023-05-14 17:46:00  1805.99  1805.40      False
1447 2023-05-14 17:47:00  1805.39  1805.39      False
1448 2023-05-14 17:48:00  1805.39  1804.09      False
1449 2023-05-14 17:49:00  1804.09  1804.10      False
1450 2023-05-14 17:50:00  1804.10  1804.44      False
1451 2023-05-14 17:51:00  1804.44  1804.60      False
1452 2023-05-14 17:52:00  1804.61  1805.83      False
1453 2023-05-14 17:53:00  1805.83  1805.03      False
1454 2023-05-14 17:54:00  1805.04  1804.89      False
1455 2023-05-14 17:55:00  1804.88  1804.41      False
1456 2023-05-14 17:56:00  1804.42  1804.39      False
1457 2023-05-14 17:57:00  1804.39  1804.01      False
1458 2023-05-14 17:58:00  1804.00  1805.04      False
1459 2023-05-14 17:59:00  1805.04  1805.29      False
1460 2023-05-14 18:00:00  1805.26  1804.40      False
1461 2023-05-14 18:01:00  1804.41  1804.38      False
1462 2023-05-14 18:02:00  1804.38  1804.37      False
1463 2023-05-14 18:03:00  1804.37  1804.21      False
1464 2023-05-14 18:04:00  1804.20  1803.93      False
1465 2023-05-14 18:05:00  1803.93  1804.35      False
1466 2023-05-14 18:06:00  1804.35  1804.09      False
1467 2023-05-14 18:07:00  1804.09  1804.09      False
1468 2023-05-14 18:08:00  1804.09  1803.84      False
1469 2023-05-14 18:09:00  1803.84  1804.38      False
1470 2023-05-14 18:10:00  1804.38  1803.91      False
1471 2023-05-14 18:11:00  1803.90  1803.89      False
1472 2023-05-14 18:12:00  1803.89  1804.03      False
1473 2023-05-14 18:13:00  1804.03  1804.34      False
1474 2023-05-14 18:14:00  1804.33  1804.77       True
1475 2023-05-14 18:15:00  1804.78  1803.58      False
1476 2023-05-14 18:16:00  1803.58  1794.92      False
1477 2023-05-14 18:17:00  1794.93  1798.34      False
1478 2023-05-14 18:18:00  1798.33  1799.95      False
1479 2023-05-14 18:19:00  1799.95  1800.18      False
1480 2023-05-14 18:20:00  1800.18  1798.94      False
1481 2023-05-14 18:21:00  1798.93  1799.19      False
1482 2023-05-14 18:22:00  1799.19  1798.99      False
1483 2023-05-14 18:23:00  1798.99  1798.78      False
1484 2023-05-14 18:24:00  1798.77  1798.60      False
1485 2023-05-14 18:25:00  1798.60  1798.91      False
1486 2023-05-14 18:26:00  1798.91  1799.00      False
1487 2023-05-14 18:27:00  1799.01  1800.53      False
1488 2023-05-14 18:28:00  1800.53  1800.52      False
1489 2023-05-14 18:29:00  1800.52  1800.25      False
1490 2023-05-14 18:30:00  1800.25  1799.41      False
1491 2023-05-14 18:31:00  1799.41  1800.17      False
1492 2023-05-14 18:32:00  1800.18  1800.77       True

In [396]:
last_trend = super_df['in_uptrend'].iloc[-2]
for i in range(-2, -len(super_df)-1, -1):
    print(i,super_df['in_uptrend'].iloc[i],str(last_trend))
    if super_df['in_uptrend'].iloc[i] != str(last_trend):
        print(super_df.iloc[i][['OpenTime','in_uptrend']])
        break
trend_open_1=super_df.iloc[i+1]['in_uptrend']  #openprice
time_open_1=super_df.iloc[i+1]['OpenTime'] 
price_open_1 = super_df.iloc[i+1]['close'] 

  #closeprice
time_close_1 = super_df.iloc[-1]['OpenTime'] 
price_close_1= super_df.iloc[-1]['close'] 

print(time_open_1,trend_open_1,price_open_1,time_close_1,price_close_1)

if trend_open_1 == str(False):
    print('Sell')
    if price_open_1 > price_close_1:
        print('W')
    else:
        print('L')
else:
    print('Buy')
    if price_open_1 < price_close_1:
        print('W')
    else:
        print('L')

-2 False False
-3 False False
-4 False False
-5 False False
-6 False False
-7 False False
-8 False False
-9 False False
-10 False False
-11 False False
-12 False False
-13 False False
-14 False False
-15 False False
-16 False False
-17 False False
-18 False False
-19 True False
OpenTime      2023-05-14 18:14:00
in_uptrend                   True
Name: 1474, dtype: object
2023-05-14 18:15:00 False 1803.58 2023-05-14 18:32:00 1800.77
Sell
W

In [368]:
i

-5

In [369]:
if trend_open_1 == str(False):
    last_trend_2 = True
else:
    last_trend_2 = False
    
for j in range(i, -len(super_df)-1, -1):
    if super_df['in_uptrend'].iloc[j] != str(last_trend_2):
        print(super_df.iloc[j][['OpenTime','in_uptrend']])
        break
        
        
# for j in range(i, -len(super_df)-1, -1):
#     print(f'j : {j}')
#     if super_df['in_uptrend'].iloc[j] == str(last_trend_2):
#         print(super_df.iloc[j][['OpenTime','in_uptrend']])
#         break

OpenTime      2023-05-14 17:34:00
in_uptrend                   True
Name: 1487, dtype: object

In [375]:
trend_open_2= super_df.iloc[j+1]['in_uptrend']  #openprice
time_open_2 = super_df.iloc[j+1]['OpenTime'] 
price_open_2= super_df.iloc[j+1]['close'] 

  #closeprice
time_close_2 = super_df.iloc[i+1]['OpenTime'] 
price_close_2= super_df.iloc[i+1]['close']

In [376]:
trend_open_2,time_open_2,price_open_2,time_close_2,price_close_2

('False',
 Timestamp('2023-05-14 17:35:00'),
 1805.73,
 Timestamp('2023-05-14 17:38:00'),
 1806.93)

In [377]:
if trend_open_2 == str(False):
    print('Sell')
    if price_open_2 > price_close_2:
        
        print('W')
    else:
        print('L')
else:
    print('Buy')
    if price_open_2 < price_close_2:
       
        print('W')
    else:
        print('L')

Sell
L

In [378]:
price_open_2

1805.73

In [379]:
price_close_2

1806.93